*, *::after, *::before {
    box-sizing:border-box; 
    margin: 0;
	font-family: sans-serif; 
}

html, body {
    overflow-x: clip;
}

/* !! BRON: https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

/* ---------- COLORS ----------*/
:root {
    --color-text-one:#fe5035;
    --color-text-two: #020202;
    --color-text-three: #ffffff;
    --color-background-one: #efe7d6;
    --color-background-two: #fe5035;
    --huidskleur: #fdb998;
    --haarkleur: #633d23;
    --oogbolkleur: #fff;
    --pupilkleur: #472003;
    --wimperkleur: #281b0d;
    --wenkbrauwkleur: #442f23;
    --kledinggrijskleur: #1e1e1e;
    --kledingdonkergrijskleur: #020202;
    --kettingkleur: #fcd638;
}

/* ---------- TYPOGRAFIE ---------- */
@font-face {
    font-family: 'Sigmar One';
    src: url(../fonts/SigmarOne-Regular.ttf);
}



/* ---------- ALGMEEN ---------- */
body {
    background-color: var(--color-background-one);
}


section:nth-of-type(1),
section:nth-of-type(2) {
    height: 100vh;
}

section:nth-of-type(1) {
    height: 100vh;
    view-timeline-name: --letter-container;
}

section:nth-of-type(1) div {
    position: sticky;
    top: 0;

    white-space: nowrap;
    width:320vw;

    /* animation-timeline: view(); 
    animation-range: cover; */
    /* animation-name: translate-animation-text; */
    /* animation-timeline: --letter-container; */
    /* animation-fill-mode: both;  
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */


    animation-timeline: --letter-container;
    animation-name: translate-animation-text;
    animation-fill-mode: both;
    animation-range: exit;
}

section:nth-of-type(1) div svg {
    fill: var(--color-text-one);
    width: 80vw;

    /* flex-shrink:0; */
}

@keyframes translate-animation-text {
    0% {
        translate: 0;
    }
    100% {
        translate: calc(-100% + 100vw)
    }
}


/* STYLING SVG MILA MASSARO */
/* <---- HAAR ----> */
.haar_achterkant,
.haar_rechts,
.haar_links,
.haar_plukje {
    fill: var(--haarkleur);
}

/* <---- LICHAAM ----> */
.nek,
.hoofd,
.hand_rechts,
.hand_links {
    fill:var(--huidskleur);
}

.oogbol {
    fill:var(--oogbolkleur);
}

.pupil_rechts,
.pupil_links {
    fill: var(--pupilkleur);
}

.wimpers {
    fill: var(--wimperkleur);
}

.wenkbrauwen {
    fill: var(--wenkbrauwkleur);
}

.onderlichaam,
.arm_rechts,
.arm_links {
    fill: var(--kledinggrijskleur);
}

/* <---- KLEDING EN DETAILS ----> */
.zak,
.lichaam {
    fill: var(--kledingdonkergrijskleur);
}

.ketting,
.hangertje_draak {
    fill: var(--kettingkleur);
}





section:nth-of-type(2) svg {
    width: 90vw;
    height: auto;
}

.oog {
    transform-box: fill-box;
}

.oog > .pupil_links,
.oog > .pupil_rechts {
    animation-timeline: view(); 
    animation-timing-function: cover exit;
    animation-name: translate-animation-oog;
    animation-fill-mode: both;
}

.hangertje_draak {
  transform-box: fill-box;
  transform-origin: 50% 0;
  
  animation-timeline: view(); 
  animation-timing-function: cover;
  animation-name: rotate-animation-ketting;
  animation-fill-mode: both;
}



/* <---- ANIMATIE ----> */
@keyframes rotate-animation-ketting {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
}
}

@keyframes translate-animation-oog {
    0% {
        transform: translate(0, -2%); 
    }
    50% {
        transform: translate(0, -1%); 
    }
    100% {
        transform: translate(0, 1.8%);
    }
}