*, *::after, *::before {
    box-sizing:border-box; 
    margin: 0;
	font-family: sans-serif; 
}

html, body {
    overflow-x: clip;
}

/* !! BRON: https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}



/* ---------- COLORS ----------*/
/* @media (prefers-color-scheme: light) {
    :root {
        --color-text-one:#fe5035;
        --color-text-two: #020202;
        --color-background-one: #efe7d6;
        --color-background-two: #fe5035;
        --color-background-three: #1e1e1e;
        --color-skin: #fdb998;
        --color-hair: #633d23;
        --color-eyeball: #fff;
        --color-pupil: #472003;
        --color-lash: #281b0d;
        --color-eyebrow: #442f23;
        --color-grey-clothes: #1e1e1e;
        --color-darkgrey-clothes: #020202;
        --color-jewellery-front: #fcd638;
        --color-jewellery-back: #ba9600;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text-one:#fe5035;
        --color-text-two: #efe7d6;
        --color-background-one: #1e1e1e;
        --color-background-two: #fe5035;
        --color-skin: #fdb998;
        --color-hair: #633d23;
        --color-eyeball: #fff;
        --color-pupil: #472003;
        --color-lash: #281b0d;
        --color-eyebrow: #442f23;
        --color-grey-clothes: #efe7d6;
        --color-darkgrey-clothes: #fff;
        --color-jewellery-front: #fcd638;
        --color-jewellery-back: #ba9600;
    }
} */

:root {
	color-scheme:light dark;
	
	--bg:light-dark(#ffe, #036);
    --color-text-one:light-dark(#fe5035, #fe5035);
    --color-text-two:light-dark(#020202,#efe7d6);
    --color-background-one:light-dark(#efe7d6,#1e1e1e);
    --color-background-two:light-dark(#1e1e1e,#efe7d6);
    --color-skin:light-dark(#fdb998,#fdb998);
    --color-hair:light-dark(#633d23,#633d23);
    --color-eyeball:light-dark(#fff,#fff);
    --color-pupil:light-dark(#472003,#472003);
    --color-lash:light-dark(#281b0d,#281b0d);
    --color-eyebrow:light-dark(#442f23,#442f23);
    --color-grey-clothes:light-dark(#1e1e1e,#efe7d6);
    --color-darkgrey-clothes:light-dark(#020202,#fff);
    --color-jewellery-front:light-dark(#fcd638,#fcd638);
    --color-jewellery-back:light-dark(#ba9600,#ba9600);
}

:root:has([value='light']:checked){
	color-scheme:light;
}

:root:has([value='dark']:checked){
	color-scheme:dark;
}



/* ---------------- */
/* MARK: Typografie */
/* ---------------- */
@font-face {
    font-family: 'Sigmar One';
    src: url(../fonts/SigmarOne-Regular.ttf);
}



/* -------------- */
/* MARK: Algemeen */
/* -------------- */
body {
    background-color: var(--color-background-one);
}


/* ---------- */
/* MARK: Naam */
/* -----------*/
section:nth-of-type(1) {
    height: 100vh;
    view-timeline-name: --letter-container;
}

main > section:nth-of-type(1) div {
    position: sticky;
    top: 0;

    white-space: nowrap;
    width: 320vw;

    animation-timeline: --letter-container;
    animation-name: translate-animation-text;
    animation-fill-mode: both;
    animation-range: exit;
}

main > section:nth-of-type(1) div svg {
    fill: var(--color-text-one);
    width: 80vw;
}



/* --------------- */
/* MARK: Mila info */
/* --------------- */
main > section:nth-of-type(2) {
    height: 100vh;
}

section:nth-of-type(2) > svg {
    width: 60%;
    max-width: 25em;
    height: auto;
}

/* .rectangle {
    background-color: var(--color-background-two);
    height: 50%;
    position: absolute;
    inset: 10%; */

    /* https://animista.net/play/entrances/scale-in/scale-in-ver-top */
    /* animation: scale-in-top-rectangle 10s cubic-bezier(.25,.46,.45,.94) both;
} */

/* -------------------------- */
/* MARK: Styling Mila Massaro */
/* -------------------------- */
/* <---- HAAR ----> */
.haar_achterkant,
.haar_rechts,
.haar_links,
.haar_plukje {
    fill: var(--color-hair);
}

/* <---- LICHAAM ----> */
.nek,
.hoofd,
.hand_rechts,
.hand_links {
    fill:var(--color-skin);
}

.oogbol {
    fill:var(--color-eyeball);
}

.pupil_rechts,
.pupil_links {
    fill: var(--color-pupil);
}

.wimpers {
    fill: var(--color-lash);
}

.wenkbrauwen {
    fill: var(--color-eyebrow);
}

.onderlichaam,
.arm_rechts,
.arm_links {
    fill: var(--color-grey-clothes);
}

/* <---- KLEDING EN DETAILS ----> */
.zak,
.lichaam {
    fill: var(--color-darkgrey-clothes);
}

.ketting,
.hangertje_draak {
    fill: var(--color-jewellery-front);
}

.oog {
    transform-box: fill-box;
}

.oog > .pupil_links,
.oog > .pupil_rechts {
    animation-timeline: view(); 
    animation-timing-function: cover exit;
    animation-name: translate-animation-oog;
    animation-fill-mode: both;
}

.hangertje_draak {
  transform-box: fill-box;
  transform-origin: 50% 0;
  
  animation-timeline: view(); 
  animation-timing-function: cover;
  animation-name: rotate-animation-ketting;
  animation-fill-mode: both;
}



/* --------------- */
/* MARK: Animaties */
/* --------------- */
@keyframes translate-animation-text {
    0% {
        translate: 0;
    }
    100% {
        translate: calc(-100% + 100vw)
    }
}

@keyframes rotate-animation-ketting {
    0% {
        transform: rotate(20deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes translate-animation-oog {
    0% {
        transform: translate(0, -2%); 
    }
    50% {
        transform: translate(0, -1%); 
    }
    100% {
        transform: translate(0, 1.8%);
    }
}

/* @keyframes scale-in-top-rectangle {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
        opacity: 1;
    }
} */



/* ------------------------ */
/* MARK: Informatie section */
/* ------------------------ */
main > section:nth-of-type(2) {
    display: grid;
    grid-template-areas:
    "svg           svg"
    "thema         thema"
    "definitie     definitie"
    "medestudenten medestudenten"
    "API           API"
    "animatie      animatie"
    "button1       button2";
    row-gap: 2em;
    grid-auto-rows: max-content;

    margin: 1em 0 4em 0;

    & ul {
        grid-area: animatie;
        margin: 3em 0 1em 0;
    }

    & h2 {
        grid-area: thema;
    }

    & h3 {
        grid-area: medestudenten;
    }

    & p:nth-of-type(1) {
        grid-area: definitie;
    }

    & p:nth-of-type(2) {
        grid-area: API;
    }

    & > svg {
        grid-area: svg;
        margin: 2em 0;
    }

    & button:nth-of-type(1) {
        grid-area: button1;
        justify-self: end;
    }

    & button:nth-of-type(2) {
        grid-area: button2;
        justify-self: start;
    }
}


section:nth-of-type(2) {
	margin: 10em 0 0 0;
    row-gap: 0;
	
    /* dynamic view height: houdt rekening met de balkjes op een iPhone   */
    height:100dvh;
	
	display:grid;
	place-items:center;
}

section:nth-of-type(2) ul {
	--duration:90s;
	--size:min(40vw, 12rem);
    --extra:0;
  
    padding: 0;
    margin: 0;
    list-style-type: '';
	
	display: grid;
	
	perspective:200em;
  
    /* Zorgt ervoor dat de kaartjes/divs niet ineens ervoor komen te draaien. */
	transform-style:preserve-3d;
  
    /* transform: rotate(-45deg); */
}


section:nth-of-type(2) li {
    /*  Je plaatst alles in dezelfde grid, dus op elkaar.  */
	grid-area:1/1;
	/*  Zowel op parent als op child grid (ul en li). Zo komt het achter elkaar te draaien.  */
	display:grid;
	
    transform:
		rotateY( 
            calc(
                1turn / sibling-count() * (sibling-index() ) 
                +
                1turn / sibling-count() * var(--extra, 0)
            ) 
        )
		translateZ(calc(var(--size) * 1.6));
    transition: .5s;

	transform-style: preserve-3d;
}

section:nth-of-type(2) div {
	grid-area:1/1;
	
	width:var(--size);
	aspect-ratio:2/1;
	
    /* 	background-image:linear-gradient(45deg, silver, whitesmoke); */
    background-color: var(--color-jewellery-front);
	border-radius: 10px;
  
    /*  Hier zorg je ervoor dat aan de voorkant de voorkant te zien is en aan de achterkant de achterkant.  */
	backface-visibility: hidden;
	
    &:nth-of-type(1) {
        font-size: calc(var(--size) * .5);
        text-align: center;
        /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 1); */
    }

	&:nth-of-type(2) {
		rotate: y .5turn;
        background-color: var(--color-jewellery-back);
	}
}

section:nth-of-type(2) button {
    appearance: none;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;

    transition: 1s ease;

    & > svg {
    height: 2em;
    }

    & path {
    fill: var(--color-background-one)
    }

    & circle {
    fill: var(--color-background-two);
    stroke: var(--color-background-two);
    }

    &:hover {
    transform: scale(1.1);
    }
}

section:nth-of-type(2) p:nth-of-type(2) {
    display: flex;
    gap:.2em;
    
    img {
        width:2em;
        aspect-ratio:1;
        object-fit: cover;
        border-radius:50%;
    }
}





/* ------------------- */
/* MARK: BREDER SCHERM */
/* ------------------- */
@media screen and (min-width: 48em) {
    main > section:nth-of-type(2) {
        display: grid;
        grid-template-areas:
            "svg thema         thema"
            "svg definitie     definitie"
            "svg medestudenten medestudenten"
            "svg API           API"
            "svg animatie      animatie"
            "svg button1       button2";
    }
}